.html {
  scrollbar-width: none;
  overflow: scroll;
  // cursor: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}

.button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}
